extends layout

block content
  h1= title
  h5 Select your randomization, type the values and let fate decide
  .row
    .input-field.col.s2
      select#randomSelect
        option(disabled='', selected='') Select ...
        option(value='rw') Weighted random
        option(value='rl') List randomization

    .input-field.col.s4.hiddenPanel#weightedRandom
      .row.owPair
        .col.s4
          input.option(placeholder='Option', type='text')
        .col.s4
          input.weight(placeholder='Weight', type='number' min=1)
        .col.s4
          a.waves-effect.waves-light.btn.blue.newOption Add option
      .row
        .col.s3
        a.waves-effect.waves-light.btn.amber.resetBtn Reset
        | #{' '}
        a.waves-effect.waves-light.btn.green.submitOWBtn Pick one !


    .input-field.col.s4.hiddenPanel#listRandom
      .row.listEntry
        .col.s8
          input.option(placeholder='Option', type='text')
        .col.s4
          a.waves-effect.waves-light.btn.blue.newEntry Add entry
      .row
        .col.s3
        a.waves-effect.waves-light.btn.amber.resetBtn Reset
        | #{' '}
        a.waves-effect.waves-light.btn.green.submitListBtn Randomize

    .col.s3.hiddenPanel#weightedResultCard
      .card-panel
        p#weightedRandomResult

    .col.s2.hiddenPanel#listResultCard
      .card-panel
        table#listResult